{% extends "base.html" %}
{% load static %}

{% block title %}ARI SUL - Recuperação de Acesso{% endblock %}

{% block extra_head_css %}
    <link rel="stylesheet" href="{% static 'controle/css/registration/esqueci_minha_senha.css' %}">
{% endblock %}

{% block content %}
<div class="recovery-wrapper">
    <div class="glass-card-recovery shadow-lg text-center">
        <div class="brand-icon-recovery">
            <i class="fa-solid fa-envelope-circle-check fa-xl"></i>
        </div>
        
        <h5 class="fw-bold mb-1">RECUPERAR ACESSO</h5>
        <p class="small text-muted mb-4 px-2">
            Informe seu e-mail institucional para receber as instruções de segurança.
        </p>
        
        <form method="post">
            {% csrf_token %}
            <div class="mb-4 text-start">
                <label class="form-label-sm text-uppercase">E-mail Institucional</label>
                <input type="email" name="email" class="form-control form-control-custom py-2" 
                       placeholder="usuario@bm.rs.gov.br" required>
            </div>
            
            <button type="submit" class="btn btn-tech w-100 py-2 mb-3">Enviar Instruções</button>
            
            <div class="mt-2">
                <a href="{% url 'login' %}" class="text-info-sm text-decoration-none">
                    <i class="fa-solid fa-chevron-left me-1 small"></i> Voltar ao Login
                </a>
            </div>
        </form>
    </div>
</div>
{% endblock %}