{% extends "base.html" %}

{% load static %}

{% block title %}ARI Sul{% endblock %}

{# ---------------------------------------------------------------- #}
{# NOVO BLOCO: Para adicionar o CSS da imagem de fundo #}
{% block extra_head_css %}
    <link rel="stylesheet" href="{% static 'controle/css/home.css' %}">
{% endblock %}
{# ---------------------------------------------------------------- #}


{% block content %}

    <div class="home-background">
        
        <div class="content-overlay">
            <img src="{% static 'controle/img/ARI.png' %}" class="img-fluid mb-4" style="max-width: 130px;">
            
            <h1 class="inicio">Agência Regional de Inteligência - ARI Sul</h1>
            <h2 class="inicio">Organizações Criminosas</h2>
            <h3 class="inicio">Sistema Penitenciário Gaúcho</h3>
        </div>
        
    </div>

{% endblock content %}

{# Se você não quer o navbar fixo, talvez queira remover o padding-top do body, mas isso depende do seu "base.html" #}
{% block extra_body_js %}
<script>
    // Seus scripts específicos para a home.html, se houver
</script>
{% endblock extra_body_js %}