{% block content %}
  <style>
    body{
      padding-top: 56px;
    }
  </style>
{% endblock content %}


<nav class="navbar navbar-expand-lg bg-dark fixed-top" data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">ARI - Sul</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" 
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">

        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Home</a>
        </li>

        <!-- Indivíduos -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownIndividuos" role="button"
             data-bs-toggle="dropdown" aria-expanded="false">
            Indivíduos
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownIndividuos">
            <li><a class="dropdown-item" href="{% url 'individuo_add' %}">Cadastrar</a></li>
            <li><a class="dropdown-item" href="{% url 'individuo_list' %}">Listar</a></li>
          </ul>
        </li>
        <!-- Organizações Criminosas -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownOrcrim" role="button"
             data-bs-toggle="dropdown" aria-expanded="false">
            Organizações Criminosas
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownOrcrim">
            <li><a class="dropdown-item" href="{% url 'orcrim_add' %}">Cadastrar</a></li>
            <li><a class="dropdown-item" href="{% url 'orcrim_list' %}">Listar</a></li>
            <li><a class="dropdown-item" href="{% url 'organograma' %}">Organograma</a></li>
          </ul>
        </li>
        <!-- Casas Prisionais -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownCasaPrisional" role="button"
             data-bs-toggle="dropdown" aria-expanded="false">
            Casas Prisionais
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownCasaPrisional">
            <li><a class="dropdown-item" href="{% url 'casaprisional_add' %}">Cadastrar</a></li>
            <li><a class="dropdown-item" href="{% url 'casaprisional_list' %}">Listar</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
