{% extends "base.html" %}
{% load static %}

{% block title %}
    {% if form.instance.pk %}Editar Indivíduo{% else %}Cadastrar Indivíduo{% endif %}
{% endblock %}

{% block extra_head %}

{% endblock %}

{% block content %}
<div class="container my-5">
    <div class="row justify-content-center">
        <div class="col-md-9 col-lg-10">
            <div class="card shadow-sm">
                <div class="card-header bg-primary text-white text-center">
                    <h3 class="mb-0">
                        {% if form.instance.pk %}Editar Indivíduo{% else %}Cadastrar Indivíduo{% endif %}
                    </h3>
                </div>
                <div class="card-body">
                    <form method="post" class="needs-validation" novalidate enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-md-3 mb-3">
                                <div class="foto-container">
                                    <div class="foto-placeholder">
                                        <i class="bi bi-person-circle"></i>
                                    </div>
                                    <div>
                                        {{ form.foto }}
                                            <small class="form-text text-muted d-block mt-1">Selecionar foto</small>
                                        {{ form.foto.errors }}
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 mb-3">
                                {{ form.nome.label_tag }}
                                {{ form.nome }}
                                {% for error in form.nome.errors %}
                                    <div class="invalid-feedback d-block">{{ error }}</div>
                                {% endfor %}
                            </div>

                            <div class="col-md-3 mb-3">
                                {{ form.rg_cpf.label_tag }}
                                {{ form.rg_cpf }}
                                {% for error in form.rg_cpf.errors %}
                                    <div class="invalid-feedback d-block">{{ error }}</div>
                                {% endfor %}
                            </div>
                            
                            <div class="col-md-3 mb-3">
                                {{ form.data_nasc.label_tag }}
                                {{ form.data_nasc }}
                                {% for error in form.alcunha.errors %}
                                    <div class="invalid-feedback d-block">{{ error }}</div>
                                {% endfor %}
                            </div>

                            <div class="col-md-6 mb-3">
                                {{ form.alcunha.label_tag }}
                                {{ form.alcunha }}
                                {% for error in form.alcunha.errors %}
                                    <div class="invalid-feedback d-block">{{ error }}</div>
                                {% endfor %}
                            </div>

                            <div class="col-md-3 mb-3">
                                {{ form.codigo_detento.label_tag }}
                                {{ form.codigo_detento }}
                                {% for error in form.codigo_detento.errors %}
                                    <div class="invalid-feedback d-block">{{ error }}</div>
                                {% endfor %}
                            </div>

                            <div class="col-md-3 mb-3">
                                {{ form.orcrim.label_tag }}
                                {{ form.orcrim }}
                                {% for error in form.orcrim.errors %}
                                    <div class="invalid-feedback d-block">{{ error }}</div>
                                {% endfor %}
                            </div>
                            <div class="col-md-3 mb-3">
                                <h7>Nível</h7>
                                {{ form.nivel_ocrim.label_tag }}
                                {{ form.nivel_orcrim }}
                                {% for error in form.nivel_orcrim.errors %}
                                    <div class="invalid-feedback d-block">{{ error }}</div>
                                {% endfor %}
                            </div>

                            <div class="col-md-3 mb-3">
                                {{ form.situacao_penal.label_tag }}
                                {{ form.situacao_penal }}
                                {% for error in form.situacao_penal.errors %}
                                    <div class="invalid-feedback d-block">{{ error }}</div>
                                {% endfor %}
                            </div>

                            <div class="col-md-3 mb-3">
                                {{ form.regime.label_tag }}
                                {{ form.regime }}
                                {% for error in form.regime.errors %}
                                    <div class="invalid-feedback d-block">{{ error }}</div>
                                {% endfor %}
                            </div>

                            <div class="col-md-4 mb-3">
                                {{ form.casa_prisional.label_tag }}
                                {{ form.casa_prisional }}
                                {% for error in form.prisional.errors %}
                                    <div class="invalid-feedback d-block">{{ error }}</div>
                                {% endfor %}
                            </div>

                            <div class="col-md-2 mb-3">
                                {{ form.pavilhao.label_tag }}
                                {{ form.pavilhao }}
                                {% for error in form.pavilhao.errors %}
                                    <div class="invalid-feedback d-block">{{ error }}</div>
                                {% endfor %}
                            </div>

                            <div class="col-md-2 mb-3">
                                {{ form.galeria.label_tag }}
                                {{ form.galeria }}
                                {% for error in form.galeria.errors %}
                                    <div class="invalid-feedback d-block">{{ error }}</div>
                                {% endfor %}
                            </div>

                            <div class="col-md-2 mb-3">
                                {{ form.cela.label_tag }}
                                {{ form.cela }}
                                {% for error in form.cela.errors %}
                                    <div class="invalid-feedback d-block">{{ error }}</div>
                                {% endfor %}
                            </div>

                            <div class="col-md-2 mb-3">
                                {{ form.alojamento.label_tag }}
                                {{ form.alojamento }}
                                {% for error in form.alojamento.errors %}
                                    <div class="invalid-feedback d-block">{{ error }}</div>
                                {% endfor %}
                            </div>

                            <div class="col-md-12 mb-3">
                                {{ form.observacao.label_tag }}
                                {{ form.observacao }}
                                {% for error in form.observacao.errors %}
                                    <div class="invalid-feedback d-block">{{ error }}</div>
                                {% endfor %}
                            </div>
                        </div>
                        <hr>
                        <div class="d-grid gap-2 d-md-flex justify-content-md-center">
                            <button type="submit" class="btn btn-success btn-lg">Salvar</button>
                            <a href="{% url 'individuo_list' %}" class="btn btn-secondary btn-lg">Cancelar</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block extra_body_js %}
<script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.min.js"></script>
<script src="{% static 'controle/js/individuo_form.js' %}"></script>
{% endblock extra_body_js %}