:root {
    --body-bg-color: #fff;
    --body-color: #000;
    
}

@media (prefers-color-scheme: dark) {
    :root {
        --body-bg-color: #121212;
        --body-color: #e0e0e0;
    }
}

body {
    background-color: var(--body-bg-color);
    color: var(--body-color);
}
