.logo_orcrim {
    position: absolute;
    bottom: 125px;
    right: 20px;
    background: white;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    font-family: sans-serif;
    z-index: 10;

}

.logo_orcrim img {
    height: 40px;
    vertical-align: middle;
    border-radius: 50px;
}

.card {
    padding-top: 56px;
    /* Define um grande raio para o card inteiro */
    border-radius: 20px !important;
    /* Remove a borda padrão do Bootstrap*/
    border: none !important;
    /* Adiciona sombra*/
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Garante que o corpo do card se ajuste perfeitamente */
.card-body {
    border-radius: 20px !important;
}