{% extends "base.html" %}
{% load static %}

{% block title %}ORCRIM{% endblock %} 

{% block content %}

<h2>Organizações Criminosas</h2>

<table class="table table-bordered table-sm">
  <thead class="table-dark">
    <tr>
      <th>Denominação</th>
      <th>Sigla</th>
      <th>Abrangência</th>
      <th>Onde atua</th>
      <th>Ações</th>
    </tr>
  </thead>
  <tbody>
    {% for orcrim in object_list %}
    <tr>
        <td>{{ orcrim.nome }}</td>
        <td>{{ orcrim.sigla }}</td>
        <td>{{ orcrim.get_area_abrangencia_display }}</td>
        <td>{{ orcrim.area_atuacao }}</td>
        <td>
            <a href="{% url 'orcrim_edit' pk=orcrim.pk %}">Editar</a>
            <a href="{% url 'orcrim_delete' pk=orcrim.pk %}">Excluir</a>
        </td>
    </tr>
    {% empty %}
    <tr>
        <td colspan="2">Nenhuma ORCRIM encontrada.</td>
    </tr>
    {% endfor %}
</tbody>
</table>
<a href="{% url 'orcrim_add' %}" class="btn btn-primary mb-3">+ Orcrim</a>
{% endblock content %}
