{% extends "base.html" %}
{% load static %}

{% block title %}ORCRIM{% endblock %} 

{% block content %}

<h2 class="text-center">Organizações Criminosas</h2>
<!--<a href="{% url 'orcrim_add' %}" class="btn btn-primary mb-3">+ Orcrim</a>-->
<table class="table table-bordered table-sm">
  <thead class="table-dark text-center">
    <tr class="align-middle">
      <th>Denominação</th>
      <th>Sigla</th>
      <th>Abrangência</th>
      <th>Ações</th>
    </tr>
  </thead>
  <tbody>
    {% for orcrim in object_list %}
    <tr class="align-middle">
        <td class="text-center">{{ orcrim.nome }}</td>
        <td class="text-center">{{ orcrim.sigla|default:"-" }}</td>
        <td class="text-center">{{ orcrim.get_area_abrangencia_display }}</td>
        <td class="text-center">
            <a href="{% url 'orcrim_edit' pk=orcrim.pk %}"><i class="bi bi-pencil-square link-warning"></i></a>
            <a href="{% url 'orcrim_delete' pk=orcrim.pk %}"><i class="bi bi-person-x link-danger"></i></a>
        </td>
    </tr>
    {% empty %}
    <tr>
        <td colspan="2">Nenhuma ORCRIM encontrada.</td>
    </tr>
    {% endfor %}
</tbody>
</table>

{% if is_paginated %}
<nav aria-label="Paginação da Lista">
    <ul class="pagination justify-content-center">

        {% if page_obj.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?{% if request.GET.q %}q={{ request.GET.q }}&{% endif %}page={{ page_obj.previous_page_number }}" aria-label="Anterior">
                    <span aria-hidden="true">&laquo;</span> Anterior
                </a>
            </li>
        {% else %}
            <li class="page-item disabled">
                <span class="page-link"><span aria-hidden="true">&laquo;</span> Anterior</span>
            </li>
        {% endif %}

        {% for i in page_obj.paginator.page_range %}
            {% if page_obj.number == i %}
                <li class="page-item active" aria-current="page">
                    <span class="page-link">{{ i }}</span>
                </li>
            {% elif i > page_obj.number|add:'-3' and i < page_obj.number|add:'3' %}
                <li class="page-item">
                    <a class="page-link" href="?{% if request.GET.q %}q={{ request.GET.q }}&{% endif %}page={{ i }}">{{ i }}</a>
                </li>
            {% endif %}
        {% endfor %}

        {% if page_obj.has_next %}
            <li class="page-item">
                <a class="page-link" href="?{% if request.GET.q %}q={{ request.GET.q }}&{% endif %}page={{ page_obj.next_page_number }}" aria-label="Próxima">
                    Próxima <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        {% else %}
            <li class="page-item disabled">
                <span class="page-link">Próxima <span aria-hidden="true">&raquo;</span></span>
            </li>
        {% endif %}
    </ul>
</nav>

<div class="text-center mb-4">
    <small>Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}. Total de {{ page_obj.paginator.count }} detentos.</small>
</div>
{% endif %}

{% endblock content %}
